body {
	background-color: #df88f7
;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
.top-header {
	background-color: red;
}
.top-header-title{
	#margin: 0;
	padding: 0;
	
}
div.genre-selector{
  overflow: auto;
  white-space: nowrap;
  background-color: black;
}
.toggle-button{
	background-color: pink;
	#color: white;
	cursor: pointer;
	 display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.genre-tag{
	background-color: gray;
	#color: white;
	cursor: pointer;
	 display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

a.genre-title {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	pointer-events: none;
	user-select: none;
}

.manga-title {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	pointer-events: none;
}
.manga-thumbnail{
	#width: 100%;
	width:500px;
	height:400px;
	position: relative;
	margin: 0;
	padding: 0;
	pointer-events: none;
	user-select: none;
}
.flex-container {
	background-color: pink;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}
.manga-item {
	background-color: #ff008c;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}